.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEF7FF;
}

.login-form {
  width: 80%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.full-width {
  width: 100%;
  margin-bottom: 1.5rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #5038ED;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

.login-image {
  flex: 1;
  background: linear-gradient(218deg, #9181F4 -5.84%, #5038ED 106.73%);
}

/* Responsive design */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image {
    display: none;
  }

  .login-form-container {
    width: 100%;
    height: 100%;
  }
}
